

@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <body style="background-color:black;">
        	     <div>
            @Html.Sitecore().Placeholder("main")
        </div>	
    </body>
</html>